<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew's personal website | About</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script type="text/javascript" src="js/functionality.js"></script>
  </head>

  <body>
    <div id="filter">
      <div class="background">
        <header class="header">
          <h1>Matthew's personal website</h1>
        </header>
        <nav class="nav">
          <ul>
            <li><a href="http://localhost:5500">Homepage</a></li>
            <li><a href="http://localhost:5500/education">Educational Background</a></li>
            <li><a href="http://localhost:5500/feedback">Feedback</a></li>
            <li><a href="http://localhost:5500/about">About</a></li>
            <li><a href="http://localhost:5500/projects">My Projects</a></li>
          </ul>
        </nav>

        <div class="body">
          <h2>About me</h2>

          <h3>My Personality:</h3>
          <div class="profile">
            <img src="/img/example_profile_pic.jpg" alt="My face" title="My face"/>
            <p>Matthew Lancaster - Developer With a Thirst for Knowledge</p>
            <br/>
            <br/>
          </div>

          <h3>My Skills:</h3>

          <div class="skills">
            <div id="softSkills">
              <h4>Soft Skills:</h4>
              <p>
                Based off of the soft skills assessment provided by

                <a href="https://www.bizlibrary.com/soft-skills-assessment/">
                  bizlibrary.com
                </a>
              </p>
              <label for="influence">Influencing Others</label>
              <progress id="influence" value="21" max="25">21/25</progress>
              <span>21/25</span>

              <label for="listen">Active Listening</label>
              <progress id="listen" value="21" max="25">21/25</progress>
              <span>21/25</span>

              <label for="selfManage">Self-Management</label>
              <progress id="selfManage" value="16" max="25">16/25</progress>
              <span>16/25</span>

              <label for="solve">Problem Solving</label>
              <progress id="solve" value="21" max="25">21/25</progress>
              <span>21/25</span>

              <label for="timeManage">Time Management</label>
              <progress id="timeManage" value="20" max="25">20/25</progress>
              <span>20/25</span>

              <label for="decision">Decision Making</label>
              <progress id="decision" value="16" max="25">16/25</progress>
              <span>16/25</span>

              <label for="learnAgile">Learning Agility</label>
              <progress id="learnAgile" value="21" max="25">21/25</progress>
              <span>21/25</span>

              <label for="goals">Goal Setting</label>
              <progress id="goals" value="17" max="25">17/25</progress>
              <span>17/25</span>

              <label for="manageChange">Managing Change</label>
              <progress id="manageChange" value="19" max="25">19/25</progress>
              <span>19/25</span>

              <label for="conflictManage">Conflict Management</label>
              <progress id="conflictManage" value="18" max="25">18/25</progress>
              <span>18/25</span>
            </div>
          </div>
        </div>

        <footer class="footer">
          <p>&copy; 2022, Matthew Lancaster</p>
          <p>
            <strong>Contact email:</strong>
            <a href="mailto:sguy7997@gmail.com">sguy7997@gmail.com</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
